name: Unit Tests

on:
  workflow_call:
  workflow_dispatch:

env:
  DEFAULT_PYTHON: "3.13.2"

jobs:

  tests:
    runs-on: "ubuntu-latest"
    name: Run tests
    strategy:
      matrix:
        python-version: ["3.13.2"]
    steps:
      - name: Check out code from GitHub
        uses: "actions/checkout@v4"
      - name: Setup Python
        uses: "actions/setup-python@v5"
        with:
          python-version: ${{ matrix.python-version }}
          cache: pipenv
      - name: Install pipenv
        run: curl https://raw.githubusercontent.com/pypa/pipenv/master/get-pipenv.py | python
      - name: Install dependencies
        run: |
          pipenv install --dev
          pipenv install -U pytest-homeassistant-custom-component || pipenv run pip install -U --no-deps pytest-homeassistant-custom-component
      - name: Run tests
        env:
          PYTEST: true
        run: |
          pipenv run pytest -qq --timeout=30 --durations=10 -n=auto --cov custom_components.smartthings -o console_output_style=count -p no:sugar --asyncio-mode=auto tests
